body {
  font-size: 1.3em;
}

h1 {
  font-family: "Arial";
  text-align: center;
}

p {
  font-family: 'Barrio', cursive;
  font-style: italic;
  font-weight: bold;
}

#two {
  font-size: 2em;
}
